absl-py==1.4.0
astor==0.8.1
beautifulsoup4==4.12.2
cached-property==1.5.2
certifi==2021.5.30
charset-normalizer==2.0.12
dataclasses==0.8
et-xmlfile==1.1.0
filelock==3.4.1
gast==0.5.4
gdown==4.7.1
grpcio==1.48.2
h5py==3.1.0
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
joblib==1.1.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.3.7
numpy==1.19.5
openpyxl==3.1.2
pandas==1.1.5
Pillow==8.4.0
protobuf==3.19.6
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.27.1
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
soupsieve==2.3.2.post1
tensorboard==1.12.2
tensorflow-gpu==1.12.3
termcolor==1.1.0
threadpoolctl==3.1.0
tqdm==4.64.1
typing_extensions==4.1.1
urllib3==1.26.16
Werkzeug==2.0.3
xlrd==2.0.1
zipp==3.6.0
